@media only screen and (max-width: 1000px) {

}

body {
    overflow-x: hidden;
}

.square {
    width: 33.3%;
    padding-bottom: 33.3%;
    
    -webkit-transition: box-shadow 0.17s ease;
    -moz-transition: box-shadow 0.17s ease;
    -o-transition: box-shadow 0.17s ease;
    transition: box-shadow 0.17s ease;
}

.square-titles {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vmax;
    color: white;
        text-shadow: 2px 2px gray;
}

.square:hover .square-titles {
    
    opacity: 0.5;
    transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -webkit-transition: opacity .35s ease-in-out;
    
    text-shadow: 2px 2px #ff0000;
    -webkit-transition: text-shadow 0.35s ease;
    -moz-transition: text-shadow 0.35s ease;
    -o-transition: text-shadow 0.35s ease;
    transition: text-shadow 0.35s ease;
}

.square:hover {
    cursor: pointer;
    
    box-shadow: inset 0px 2px 15px 1px rgba(50, 50, 50, 0.55);
    -webkit-box-shadow: inset 0px 2px 15px 1px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 2px 15px 1px rgba(50, 50, 50, 0.55);
}

/* NAVBAR */
.navbar {
    padding: 0 10 0 0;
    margin-bottom: 0;
}

.navbar.transparent. {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.nav-content-text {
    color: gray;
    padding: 10
}

.nav-content-text:hover {
    color: lightblue;
}

.nav-content-align {
    text-align: right;
}

/* SWIPER CUSTOM CSS */
.swiper-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 50%;
    width: auto;
    z-index: 2;
}

.swiper-container {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-frame {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
	background-position: center;
}

.swiper-pagination-bullet {
    border-radius: 2px !important;
}

.swiper-title {
	position: absolute;
	vertical-align: center;
}
