@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

body, html {
  height: 100vh;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333333;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    overflow-x: hidden;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#introVideo {
    width: 100%;
    height: auto;
    max-height: 100%;
    z-index: -1;
}

.container {
    position: fixed;
    width: auto;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.btn {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1vmax 2.5vmax;
    background: transparent;
    outline: none;
    font-size: 1.3vmax;
    color: #e8e8e8;
    font-weight: 600;
}

.btn:hover {
    color: #e8e8e8;
}
.btn::after, .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    -webkit-transform: skewX(30deg);
            transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
}
.btn::before {
    opacity: 0.8;
    background-color: #ff5000;
    top: -1vh;
    left: 0rem;
}
.btn::after {
    opacity: 0.8;
    background-color: #2d2d2d;
    top: 1vh;
    left: 6.5vw;
}
.btn:hover::before, .btn:hover::after {
    top: 0;
    -webkit-transform: skewx(0deg);
            transform: skewx(0deg);
}
.btn:hover::after {
    left: 0rem;
}
.btn:hover::before {
    left: 8.75rem;
}


/* LOADER */

